.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}


.r-button{
    height: 3rem;
    width: 50%;
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    
    
}
.r-button:hover{
    cursor: pointer;
    color: var(--orange);
    background: transparent;
    border: 2px solid var(--orange);
  }